body{background-color: #5c3424  ;}
h1{font-size: 200px;
background-color: #fb8c59;}
p{font-size: 50px;
color: #31474d;
background-color:  #fb7c4d ;
border-radius: 20px;}
img{border-radius: 50px;}
.imageflex {display: flex;}

